* {
	margin: 0; 
	border: 0; 
	padding: 0; 
}

body {
	background: #FFF; 
	font-family: 'Hind', sans-serif;
	font-size: 18px; 
	position: relative; 
}

.logo {
	width: 40px;
	height: 40px;
}

h1 {
	font-family: 'Nobile', sans-serif; 
	text-align: center; 
	font-size: 175%; 
	color: #4A4444;
	text-transform: uppercase;
	letter-spacing: 3px; 
	padding: 3% 0; 
}

h3 {
	font-family: 'Nobile', sans-serif; 
	text-align: center; 
	color: #4A4444;
	text-transform: uppercase;
	letter-spacing: 1%; 
}

p {
	padding: 2%; 
	color: #4A4444; 
	text-align: justify; 
}

img {
	max-width: 100%; 
	height: auto; 
}

#banner-wrapper {
	max-width: 1280px; 
	margin: 0 auto; 
}

/* Start Image Slider Style */
.slider {
	width: 100%;
}

.slides img {
	min-width: 100%; 
}

/* End Image Slider Style */

.one-half {
	width: 44%; 
	float: left; 
	margin: 2% 0 3% 4%; 
	text-align: center; 
}

.one-third {
	width: 28%; 
	float: left; 
	margin: 2% 0 3% 4%; 
	text-align:center;
}

.left-col {
	width: 60%; 
	float: left; 
	margin: 4% 0 4% 4%; 
}

.sidebar {
	width: 26%; 
	float: right; 
	margin: 4%;
}

.sidebar img {
	opacity: 0.8;
}

.clearfix {
	clear: both; 
}

/* Start Prallax Section */
.parallax-1 {
	background: url("http://wall2born.com/data/out/93/image-50468318-hd-backgrounds-free-download.jpg") repeat fixed 100%; 
	text-align: center; 
}

.parallax-inner {
	padding-top: 90px; 
	padding-bottom: 300px; 
}

.parallax-2 {
	background: url("http://wall2born.com/data/out/93/image-50468318-hd-backgrounds-free-download.jpg") repeat fixed 100%; 
	text-align: center; 
}

.parallax-inner h3, .parallax-inner p {
	color: #F1F1F1; 
}

/* End Parallax Section */
footer {
	background:rgb(206,27,27); 
	opacity: 0.9;
	width: 100%; 
	margin-top: 5%; 
	padding: 1% 0; 
	overflow: auto;  
}

footer p {
	color: #FFF; 
}

/* Media Queries */
@media screen and (max-width: 768px) {
	.slider {
		display: none; 
	}
	.parallax-inner {
		display: none; 
	}

	.one-third {
		width: 100%; 
		margin: 4% 0; 
	}

	.one-half {
		display: none;
	}

	h1 {
		font-size: 125%;
	}

	.left-col {
		width: 100%;
		margin: 0 0 3% 0;
	}
	.sidebar {
		width: 100%;
		margin: 0; 
	}

	img {
		width: 100%;
	}

	h3 {
		padding-top: 3%;
	}
}




/* searched movie HTML page's CSS */
#mov-row {

}

#searched-movie {
	background-image: url("../images/mov-background.jpg");
	height: 300%;
}

#searched-mov-img {
	margin-top: 3%;
	/* position: relative;
	left: 10%; */
}

#title-text {
	font-size: 250%;
}

#movie-title {
	font-family: 'Abril Fatface', cursive;
}

#movie-img, #movie-info {
	margin-top: 3%;
}

#movie-overview, .overview {
	float: left;
}

#movie-overview {
	margin-top: 3%;
	margin-bottom: 2%;
}

.overview, .featured-crew {
	font-size: 25px;
	font-family: 'Abril Fatface', cursive;
}

#overview-text {
	float: left;
	margin-top: 1%;
	font-family: 'Kalam', cursive;
}

#movie-info {
	color: white;
	margin-left: 3%;
	padding: 3%;
	border-radius: 50px;
	background-color: rgb(51, 102, 153, 0.6);
}

.overview, .featured-crew, .crew {
	color: white;
}

#crew-member {
	margin-left: 5%;
}

.crew {
	font-size: 20px;
	font-family: 'Playfair Display SC', serif;
}

.cast-intro {
	margin-top: 25px;
	font-size: 175%;
	font-family: 'Abril Fatface', cursive;
}

#cast-mem-img {
	height: 200px;
	width: 155px;
	margin-top: 30px;
	margin-left: 25px;
}

#cast-name {
	text-align: center;
	margin-top: 3%;
	font-size: 100%;
	margin-left: 25px;
	font-family: 'Playfair Display SC', serif;
}

/* CSS for upper-right search bar */
#mov-search {
	font-size: 28px;
	background-color: darkgray;
	margin-top: 5%;
	border-radius: 5px;
}

#contact {
	color: springgreen;
}

/* CSS for AutoComplete Dropdown Menu */
* {
    box-sizing: border-box;
  }
  body {
    font: 16px Arial;  
  }
  .autocomplete {
    /*the container must be positioned relative:*/
    position: relative;
    display: inline-block;
  }
  input {
    border: 1px solid transparent;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 16px;
  }
  input[type=text] {
    background-color: #f1f1f1;
    width: 100%;
  }
  input[type=submit] {
    background-color: DodgerBlue;
    color: #fff;
    cursor: pointer;
  }

  .autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    /* left: 0; */
    right: 0;
    width: 30%;
	color: black;
	opacity: 0.9;
  }

  .autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff; 
    border-bottom: 1px solid #d4d4d4; 
  }

  .autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: #e9e9e9; 
  }

  .autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: DodgerBlue !important; 
    color: #ffffff; 
  }